.top-row {
    Display: flex; 
    justify-content: center;
    align-items: left;
}

h2 {
    font-family: 'Roboto';
}

.hidebg {
    background-image: url("https://i.pinimg.com/originals/19/1c/70/191c7063838dff3add0caffcff6284ce.jpg") ; 
    min-height: 30vh;
    position: relative;

}

.textfloat {
    display: flex;
    align-items: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 9999;
}

body {
    padding-top: 40px;
}

.viewcard{
  position: relative;
  bottom: 0;
  transform: translateY(30%);
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2 {
    display: flex;
    justify-content: right;
    align-items: right;
}